/* 
	Author : Samyak Jain
	Created on : 30 June 2020
*/
*{
    background-color:  lightgray;
    color: rgb(3, 5, 87);
    font-family: Arial, Helvetica, sans-serif;
}
#heading {
    margin-left: 10%;
    margin-right: 10%;
}
.align{
    padding: 1.5%;
    padding-left: 17%;
    padding-right: 12%;
    background-color: rgb(182, 179, 179);
    font-size: medium;
    
}
.bigdiv{
    margin-left: 5%;
    margin-right: 5%;
    border: rgb(0, 0, 0) solid 2px;
    
    background-color: rgb(182, 179, 179) ;
}

.links{
    color: rgb(11, 11, 251);
    background-color: rgb(189, 201, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-size: larger;
}
.links:hover{
    color: rgb(3, 3, 128);
    background-color: rgb(2, 158, 158);
}

.form{
    background-color: rgb(182, 179, 179) ;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: x-small; */
    /* display: inline-block; */
}
.input{
    font-size: x-small;
}

.button{
    font-size: small;
    font-weight: bold;
    color: black;
}

.text{
    font-size: small;
}
@media(min-width:725px){
    .button{
        font-size: medium;
    }
    .bigdiv{
        margin-left: 15%;
        margin-right: 15%;
    }
    .align{
        font-size: large;
    }
    .text{
        font-size: medium;
        margin-left: 7%;
        margin-right: 5%;
    }
    .input{
        font-size: small;
    }
}
@media(min-width:1050px){
    .text{
        margin-left: 20%;
        margin-right: 15%;
    }
    .bigdiv{
        margin-left: 20%;
        margin-right: 20%;
    }
    .button{
        font-size: large;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .align{
        padding-left:23% ;
        padding-right: 20%;
        font-size: x-large;
    }
}


